body {
    background-color: black;
}

img {
    width: 100%;
    border: 5px solid white;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

.title {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
}

.sub {
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: "Libre Baskerville", serif;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  